In [1]:
#Dependencies
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd 
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [2]:
#assigming index id to movie_name and rearranging df so that it's the first column
movie = pd.read_csv('Final_Data_Template_Copy.csv',encoding='latin-1')
movie['id'] = movie.index
movie = movie[['id'] + movie.columns[:-1].tolist()]
movie_final = movie.drop(['movie_name'], axis=1)
movie_final.head(3)

,id,production_year,production_budget,domestic_box_office,international_box_office,Success_Failure_All,Success_Failure_Domestic,rating,creative_type,source,production_method,genre,sequel,running_time
0,0,2006,45000000,36895141,28700000,0,0,PG-13,Contemporary Fiction,Original Screenplay,Live Action,Action,0,105
1,1,2006,35000000,7459300,34604805,0,0,PG-13,Contemporary Fiction,Based on Fiction Book/Short Story,Live Action,Drama,0,118
2,2,2006,10000000,20342852,6373339,1,1,PG-13,Contemporary Fiction,Original Screenplay,Live Action,Comedy,0,105

In [3]:
#Got dummies - 14169 columns...
movie_final = pd.get_dummies(movie_final)
movie_final.head(3)

,id,production_year,production_budget,domestic_box_office,international_box_office,Success_Failure_All,Success_Failure_Domestic,sequel,running_time,rating_0,...,genre_Black Comedy,genre_Comedy,genre_Concert/Performance,genre_Documentary,genre_Drama,genre_Horror,genre_Musical,genre_Romantic Comedy,genre_Thriller/Suspense,genre_Western
0,0,2006,45000000,36895141,28700000,0,0,0,105,0,...,0,0,0,0,0,0,0,0,0,0
1,1,2006,35000000,7459300,34604805,0,0,0,118,0,...,0,0,0,0,1,0,0,0,0,0
2,2,2006,10000000,20342852,6373339,1,1,0,105,0,...,0,1,0,0,0,0,0,0,0,0

In [4]:
# #created dataframe with correlations for all columns 
# name = []
# correlation = []
# for movie in movie_final:
#     name.append(movie)
#     correlation.append(movie_final['Success_Failure_Domestic'].corr(movie_final[movie]))
# correlation_df = pd.DataFrame({'name': name, 'correlation': correlation})[['name','correlation']]
# positive_df = correlation_df.sort_values(by=['correlation'], ascending=False)
# positive_df.head(50)

In [11]:
# #making a list based off the top correlated columns to feed into regression
# top = positive_df['name'].values.tolist()[:50]
# top.remove('domestic_box_office')
# top.remove('international_box_office')
# top.remove('350k_Movies.revenue')
# top.remove('Success_Failure_Domestic')
# top.remove('Success_Failure_All')
# # top.remove('id')

# top[:50]

In [13]:
#Replace top in next cell with x_names to run it with all features

x_names = list(movie_final.columns.values)
x_names.remove('domestic_box_office')
x_names.remove('international_box_office')
x_names.remove('id')
# x_names.remove('350k_Movies.revenue')
x_names.remove('Success_Failure_Domestic')
x_names.remove('Success_Failure_All')
x_names

['production_year',
 'production_budget',
 'sequel',
 'running_time',
 'rating_0',
 'rating_G',
 'rating_Not Rated',
 'rating_PG',
 'rating_PG-13',
 'rating_R',
 'creative_type_0',
 'creative_type_Contemporary Fiction',
 'creative_type_Dramatization',
 'creative_type_Factual',
 'creative_type_Fantasy',
 'creative_type_Historical Fiction',
 'creative_type_Kids Fiction',
 'creative_type_Multiple Creative Types',
 'creative_type_Science Fiction',
 'creative_type_Super Hero',
 'source_0',
 'source_Based on Comic/Graphic Novel',
 'source_Based on Factual Book/Article',
 'source_Based on Fiction Book/Short Story',
 'source_Based on Folk Tale/Legend/Fairytale',
 'source_Based on Game',
 'source_Based on Movie',
 'source_Based on Musical or Opera',
 'source_Based on Play',
 'source_Based on Real Life Events',
 'source_Based on Religious Text',
 'source_Based on Short Film',
 'source_Based on TV',
 'source_Based on Theme Park Ride',
 'source_Based on Toy',
 'source_Based on Web Series',
 'source_Compilation',
 'source_Original Screenplay',
 'source_Remake',
 'source_Spin-Off',
 'production_method_0',
 'production_method_Animation/Live Action',
 'production_method_Digital Animation',
 'production_method_Hand Animation',
 'production_method_Live Action',
 'production_method_Multiple Production Methods',
 'production_method_Rotoscoping',
 'production_method_Stop-Motion Animation',
 'genre_0',
 'genre_Action',
 'genre_Adventure',
 'genre_Black Comedy',
 'genre_Comedy',
 'genre_Concert/Performance',
 'genre_Documentary',
 'genre_Drama',
 'genre_Horror',
 'genre_Musical',
 'genre_Romantic Comedy',
 'genre_Thriller/Suspense',
 'genre_Western']

In [6]:
#logistic regression copy/paste
X = movie_final[x_names]
y = movie_final["Success_Failure_Domestic"]

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

In [8]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [9]:
classifier.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [10]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.8020446096654275
Testing Data Score: 0.8022284122562674